@import "../../scss/mixins";
@import "../../scss/variables";

body {
    background-color: $primaryColor;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

span {
    margin: 10px;
}

.box,
.shadow-box-1,
.shadow-box-2 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 125px;
    height: 75px;
    margin: 3px;
    border-radius: 10px;
    padding: 5px;
}

.box-1 {
    background-color: $alphaColor;
}

.box-2 {
    background-color: $betaColor;
}

.box-3 {
    background-color: $gammaColor;
}

.box-4 {
    background-color: invert($color: $alphaColor+150);
}

.box-5 {
    background-color: invert($color: $betaColor+75);
}

.box-6 {
    background-color: invert($color: $gammaColor);
}

.shadow-box-1 {
    border: 1px solid $secondaryColor;
    box-shadow: $secondaryColor -5px 5px;
}

.shadow-box-2 {
    border: 1px solid $secondaryColor;
    box-shadow: $secondaryColor 5px 5px;
}

.box-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 14px;
}