* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #006778;
}

.toolbar {
  display: none;
  padding: 5px;
  background-color: #F5F5F5;
}

@media (min-width: 768px) {
  .toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-title {
  background-color: #FFD124;
  padding: 10px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
  }
}

.menu-container {
  background-color: #006778;
}

@media (max-width: 768px) {
  .menu-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media (min-width: 768px) {
  .menu-container {
    width: 200px;
    height: 120vh;
  }
}

@media (min-width: 1250px) {
  .menu-container {
    height: 100vh;
  }
}

nav,
.menu-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu-title {
  font-weight: bold;
  color: #F5F5F5;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .menu-title {
    display: none;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

@media (min-width: 768px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-list li {
  background-color: #0093AB;
  border: 1px solid #333;
  padding: 5px;
  list-style-type: none;
  width: 75px;
  text-align: center;
}

@media (min-width: 768px) {
  .menu-list li {
    width: 100%;
    text-align: left;
  }
}

.menu-list li:hover {
  background-color: #FFD124;
  color: #0093AB;
  cursor: pointer;
}

main {
  background: #00AFC1;
  width: 100%;
  height: 100vh;
}

main img {
  border-radius: 50%;
  margin: 10px;
}

@media (min-width: 768px) {
  main {
    height: 120vh;
  }
}

@media (min-width: 1250px) {
  main {
    height: 100vh;
  }
}

.list {
  justify-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1068px) {
  .list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  border: 1.3px solid #333;
  text-align: center;
  width: 95%;
  margin: 1px;
}

@media (min-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 225px;
    margin: 10px;
    padding: 10px;
  }
}

.card:hover {
  background-color: #0093AB;
  color: #F5F5F5;
  cursor: pointer;
}

footer {
  background-color: #FFD124;
  padding: 15px;
}
/*# sourceMappingURL=styles.css.map */