body {
  background-color: #F5F5F5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 70px;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
}

.base-color {
  color: #F5F5F5;
}

.container-1 .base-color {
  background-color: #F900BF;
}

.container-1 .darken-1 {
  background-color: #e600b1;
  color: #19ff4e;
}

.container-1 .lighten-1 {
  background-color: #ff0dc7;
  color: #00f238;
}

.container-1 .darken-2 {
  background-color: #c10094;
  color: #3eff6b;
}

.container-1 .lighten-2 {
  background-color: #ff32cf;
  color: #00cd30;
}

.container-1 .darken-3 {
  background-color: #9c0077;
  color: #63ff88;
}

.container-1 .lighten-3 {
  background-color: #ff57d8;
  color: #00a827;
}

.container-1 .darken-4 {
  background-color: #76005b;
  color: #89ffa4;
}

.container-1 .lighten-4 {
  background-color: #ff7de1;
  color: #00821e;
}

.container-2 .base-color {
  background-color: #9900F0;
}

.container-2 .darken-1 {
  background-color: #8d00dd;
  color: #72ff22;
}

.container-2 .lighten-1 {
  background-color: #a404ff;
  color: #5bfb00;
}

.container-2 .darken-2 {
  background-color: #7500b8;
  color: #8aff47;
}

.container-2 .lighten-2 {
  background-color: #b129ff;
  color: #4ed600;
}

.container-2 .darken-3 {
  background-color: #5e0093;
  color: #a1ff6c;
}

.container-2 .lighten-3 {
  background-color: #bf4eff;
  color: #40b100;
}

.container-2 .darken-4 {
  background-color: #46006d;
  color: #b9ff92;
}

.container-2 .lighten-4 {
  background-color: #cc74ff;
  color: #338b00;
}

.container-3 .base-color {
  background-color: #4700D8;
}

.container-3 .darken-1 {
  background-color: #4100c5;
  color: #beff3a;
}

.container-3 .lighten-1 {
  background-color: #4d00eb;
  color: #b2ff14;
}

.container-3 .darken-2 {
  background-color: #3500a0;
  color: #caff5f;
}

.container-3 .lighten-2 {
  background-color: #5f11ff;
  color: #a0ee00;
}

.container-3 .darken-3 {
  background-color: #28007b;
  color: #d7ff84;
}

.container-3 .lighten-3 {
  background-color: #7836ff;
  color: #87c900;
}

.container-3 .darken-4 {
  background-color: #1c0055;
  color: #e3ffaa;
}

.container-3 .lighten-4 {
  background-color: #915cff;
  color: #6ea300;
}

.container-4 .base-color {
  background-color: #E8630A;
}

.container-4 .darken-1 {
  background-color: #d65b09;
  color: #29a4f6;
}

.container-4 .lighten-1 {
  background-color: #f56c10;
  color: #0a93ef;
}

.container-4 .darken-2 {
  background-color: #b24c08;
  color: #4db3f7;
}

.container-4 .lighten-2 {
  background-color: #f68234;
  color: #097dcb;
}

.container-4 .darken-3 {
  background-color: #8f3d06;
  color: #70c2f9;
}

.container-4 .lighten-3 {
  background-color: #f89858;
  color: #0767a7;
}

.container-4 .darken-4 {
  background-color: #6b2e05;
  color: #94d1fa;
}

.container-4 .lighten-4 {
  background-color: #f9ae7b;
  color: #065184;
}
/*# sourceMappingURL=styles.css.map */