$alphaColor: #F900BF;
$betaColor: #9900F0;
$gammaColor: #4700D8;
$deltaColor: #E8630A;

$primaryColor: #F5F5F5;
$secondaryColor: #333;

$gradientColor: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);